In [1]:
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Getting the URL for the JSON Request
city = "Chicago, Illinois"

url = "https://odn.data.socrata.com/resource/h4kz-unyt.json?name=" + city

data = requests.get(url).json()

In [3]:
#Convert JSON to Dataframe

data_df = pd.DataFrame(data)
data_df.head()

,crime_type,id,key,name,place_name,type,value,variable,year
0,All Crimes,1600000US1714000,1600000US1714000--2010--All Crimes--count,"Chicago, Illinois","Chicago, IL",place,268492,count,2010
1,Murder and nonnegligent manslaughter,1600000US1714000,1600000US1714000--2006--Murder and nonnegligen...,"Chicago, Illinois","Chicago, IL",place,16.376256387789752,rate,2006
2,Aggravated assault,1600000US1714000,1600000US1714000--2006--Aggravated assault--rate,"Chicago, Illinois","Chicago, IL",place,610.4354544551115,rate,2006
3,Murder and nonnegligent manslaughter,1600000US1714000,1600000US1714000--2010--Murder and nonnegligen...,"Chicago, Illinois","Chicago, IL",place,432,count,2010
4,Burglary,1600000US1714000,1600000US1714000--2009--Burglary--rate,"Chicago, Illinois","Chicago, IL",place,930.1260939794574,rate,2009

In [4]:
#Sorting the values by year
data_df = data_df.sort_values('year')

#Finding only the "rate" of the number of crimes, not the count, so that it's uniform city to city
crime_rate_df = data_df.loc[data_df['variable'] == 'rate']

crime_rate_df.head()

,crime_type,id,key,name,place_name,type,value,variable,year
132,Larceny,1600000US1714000,1600000US1714000--2006--Larceny--rate,"Chicago, Illinois","Chicago, IL",place,2930.125173385364,rate,2006
95,Motor vehicle theft,1600000US1714000,1600000US1714000--2006--Motor vehicle theft--rate,"Chicago, Illinois","Chicago, IL",place,763.8053940869117,rate,2006
110,Arson,1600000US1714000,1600000US1714000--2006--Arson--rate,"Chicago, Illinois","Chicago, IL",place,24.914304589970733,rate,2006
121,Robbery,1600000US1714000,1600000US1714000--2006--Robbery--rate,"Chicago, Illinois","Chicago, IL",place,555.0781091442497,rate,2006
71,Property crime,1600000US1714000,1600000US1714000--2006--Property crime--rate,"Chicago, Illinois","Chicago, IL",place,4539.092363485707,rate,2006

In [5]:
violent_Crime = crime_rate_df.loc[crime_rate_df["crime_type"]== 'Violent crime']
violent_Crime.head(200)

,crime_type,id,key,name,place_name,type,value,variable,year
26,Violent crime,1600000US1714000,1600000US1714000--2014--Violent crime--rate,"Chicago, Illinois","Chicago, IL",place,884.2852428361296,rate,2014
169,Violent crime,1600000US1714000,1600000US1714000--2015--Violent crime--rate,"Chicago, Illinois","Chicago, IL",place,903.8386481449924,rate,2015
170,Violent crime,1600000US1714000,1600000US1714000--2015--Violent crime--rate,"Chicago, Illinois","Chicago, IL",place,903.8386481449924,rate,2015
183,Violent crime,1600000US1714000,1600000US1714000--2016--Violent crime--rate,"Chicago, Illinois","Chicago, IL",place,1105.4792152954349,rate,2016
232,Violent crime,1600000US1714000,1600000US1714000--2017--Violent crime--rate,"Chicago, Illinois",NaN,place,1098.8588673812555,rate,2017

In [6]:
# Suburban_Driver_Count = Suburban_DF.groupby("city")["driver_count"].mean ()

y= [1, 2, 3, 4, 5, 6]
x= violent_Crime.groupby["year"].count()

TypeError: 'method' object is not subscriptable

In [7]:

# violent_Crime['year'] = pd.to_numeric(violent_Crime['year'])
violent_Crime['year']

26     2014
169    2015
170    2015
183    2016
232    2017
Name: year, dtype: object