In [1]:
import pingouin
from pingouin import ancova, read_dataset

In [5]:
df= read_dataset('ancova')
ancova(data=df, dv='Scores', covar=['Income', 'BMI'], between='Method')

     Source        SS  DF       F     p-unc
0    Method   552.284   3   3.233  0.036113
1    Income  1573.952   1  27.637  0.000011
2       BMI    60.014   1   1.054  0.312842
3  Residual  1708.509  30     NaN       NaN

In [7]:
df.dtypes

Scores      int64
Income    float64
BMI         int64
Method     object
dtype: object